<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/script.js" defer></script>
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li class="options"><a href="#option">Option</a></li>
          <li class="quantify">
            <a href="#quantify">Quantity</a>
            <a href="#quantify"><button class="botao">Click Aqui!</button></li></a>
        </ul>
        <div class="dropdown none">
          <p>Dropdown</p>
        </div>
        <div class="home home1">
         <div class="flex"><p class="circulo">1</p><p class="item">Item 1</p></div>
         <div class="flex"><p class="circulo">2</p><p class="item">Item 2</p></div>
         <div class="flex"><p class="circulo">3</p><p class="item">Item 3</p></div>
         <div class="flex2">
           <p class="arrow">&larr;</p>
           <p class="arrow">&rarr;</p>
          </div>
        </div>
      </nav>
    </main>
    <footer>
    </footer>
  </body>
</html>